{{define "index"}}
<!doctype html>
<html lang="en">
  {{template "head" .}}
  <body>
    <div data-init="@get('/todo/sse')"></div>
    {{block "app" .}}
    <div id="app">
      <h1>{{.Title}}</h1>
      <p><a href="/">&larr; Home</a></p>

      <form data-on:submit="@post('/todo'); el.reset()">
        <input
          type="text"
          name="todo"
          data-bind="todo"
          placeholder="New todo..."
        />
        <button type="submit">Add</button>
      </form>

      <ul>
        {{range .Items}}
          <li>{{.Text}}</li>
        {{end}}
      </ul>
    </div>
    {{end}}
  </body>
</html>
{{end}}